* {
    margin: 0%;
}

/* CONTAINS THE WHOLE PAGE */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
    .title {
        margin: 15px;
    }

/* CONTAINS THE INPUTS AND SUBMIT BUTTON */
.form-container {
    margin: 10px;
}
    .top-text {
        margin: 5px;
        width: 300px;
        height: 30px;
    }
    .bottom-text {
        margin: 5px;
        width: 300px;
        height: 30px;
    }
    .submit-button {
        margin: 5px;
        height: 37px;
    }

/* CONTAINS THE MEME IMAGE */
.image-container {
    height: 600px;
    width: 600px;
}
    .meme-image {
        max-width: 800px;
    }